[submodule "msitools"]
	path = msitools
	url = https://github.com/GNOME/msitools
[submodule "gcab"]
	path = gcab
	url = https://github.com/GNOME/gcab.git
[submodule "libgsf"]
	path = libgsf
	url = https://github.com/GNOME/libgsf.git
[submodule "libeconf"]
	path = libeconf
	url = https://github.com/openSUSE/libeconf.git
[submodule "libxml2"]
	path = libxml2
	url = https://github.com/GNOME/libxml2.git
